
html {
    font-size: 24px;
}

div#calculator-body {
    width: 400px;
    height: 680px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    justify-items: center;
    align-items: center;
}


div#display {
    background-color: bisque;
    width: 340px;
    border-radius: 20px;
    margin: 20px;
    height: 100px;
    text-align: right;
    padding: 10px;
    line-height: 100px;
    font-size: 50px;
  
}

div.number, div.operator, div#clear, div.equal{
    background-color: bisque;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
    line-height: 80px;
    cursor: default;
    text-decoration: none;

}

div#first-row {
    align-self: flex-end;
}

div.zero{
    width: 180px;
    border-radius: 20px;
}

div.highlighted {
    background-color: cadetblue;
}